body { 
    margin: 0;
    padding: 16px;
    height: 100vh;
    background: #afd2ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.valentine_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}
.front_img {
    width: 450px;
    margin-right: -50px;
    margin-left: -50px;
    margin-top: 100px;
    position: relative;
}
.inside_img {
    width: 350px;
    margin-right: -50px;
    margin-left: -50px;
    margin-top: 100px;
    position: relative;
}
.valentine_card:hover .front_card {
    transform: rotateY(-160deg);
}
.valentine_card:hover .front_text {
    display: none;
}
.front_text {
    color: #2b1870;
    font-family: 'Times New Roman', cursive;
    font-size: 26px;
}
.inside_text {
    color: #0d0f85;
    font-family: 'Times New Roman', cursive;
    font-size: 24px;
}
.front_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #2e3c7e;
    width: 450px;
    height: 800px;
}
.inside_card {
    position: absolute;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #2e3c7e;
    width: 450px;
    height: 800px;
    z-index: -1;
    left: 0;
    top: 0;
}
.valentine_card audio {
    display: none;
}
.valentine_card:hover .front_img {
    display: none;
}
.inside_card audio {
    display: flex;
    margin-left: 80px;
    margin-right: 40px;
}